body, html {
    height: 100%;
    margin: 0;
    background: rgb(63,251,187);
    background: radial-gradient(circle, rgba(63,251,187,1) 0%, rgba(252,70,152,1) 94%);
  
}
#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .top-img {
    text-align: center;
  }

.card{
    min-width: 100%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);


    
}
.againBtn{
  font-weight: 600;
  margin: 5px;
}
.card-text{
    font-weight: 600;
}
.ans-option-btn{
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(7, 7, 7);
   background: rgb(195, 192, 212);
    cursor: pointer;
    margin: 10px 5px;

     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
}
.answer-section {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
   justify-content: center;
}